Repository AlgoLeadMe/AlgoLeadMe-2, pull requests merged in 2023-12, with the labels that each got.

#43 12-yuneojin
  yuneojin/README.md
  yuneojin/브루트포스/inequality.py
Labels: 리뷰 완료 ✔️, yuneojin

#45 10-Redish03
  Redish03/.vscode/settings.json
  Redish03/README.md
  Redish03/week10.cpp
Labels: 리뷰 완료 ✔️, Redish03

#44 6-daehoon0917
  daehoon0917/231225 럭키스트레이트.py
  daehoon0917/README.md
Labels: 리뷰 완료 ✔️, daehoon0917
